
.icon-22{


    width: 19px;
    height: 19px;
    left: 336.57px;
    top: 225.96px;
    opacity: 0.1;
    transform: rotate(-169.83deg);
    background: url(../assets/Star\ 22.svg);
    
  }
  
  
  
  .icon-24{
  
    position: absolute;
    width: 19px;
    height: 19px;
    left: 211.55px;
    top: 149.31px;
    background: url(../assets/Star\ 24.svg);
    opacity: 0.9;
    transform: rotate(-154.34deg);
  
  
  }
  
  
  .icon-21{
  
      position: absolute;
      width: 20.88px;
      height: 20.88px;
      left: 113.08px;
      top: 131.87px;
     background: url(../assets/Star\ 21.svg);
     opacity: 0.9;
  transform: rotate(66.28deg);
  }
  
  
  .icon-23{
  
    position: absolute;
    width: 9px;
  height: 9px;
  left: 267.5px;
  top: 254.21px;
  background: url(../assets/Star\ 23.svg);
  opacity: 0.9;
  transform: rotate(-169.83deg);
  }
  
  
  .icon-25{
  
    position: absolute;
    width: 13px;
    height: 14px;
    left: 88.82px;
    top: 172.78px;
    background: url(../assets/Star\ 25.svg);
  opacity: 0.5;
  transform: rotate(-169.83deg);
  
  }
  
  
  
  
  .icon-26{
  
    position: absolute;
    width: 9px;
    height: 9px;
    left: 273.95px;
    top: 144.62px;
    background: url(../assets/Star\ 26.svg);
    opacity: 0.5;
    transform: rotate(-169.83deg);
  
  }
  
  .icon-11{
  
    position: absolute;
    width: 9px;
    height: 9px;
    left: 945.28px;
    top: 699.21px;
    background: url(../assets/Star\ 11.svg);
    opacity: 0.5;
    transform: rotate(-169.83deg);
  
  }
  
  .icon-15{
  
    position: absolute;
    width: 20.88px;
    height: 20.88px;
    right: 100.87px;
    top: 576.87px;
    background: url(../assets/Star\ 15.svg);
    opacity: 0.5;
    transform: rotate(-154.34deg);
  
  
  }
  
  .icon-16{
  
    position: absolute;
    width: 19px;
    height: 19px;
    right: 289.33px;
    top: 594.31px;
    background: url(../assets/Star\ 16.svg);
    opacity: 0.5;
    transform: rotate(66.28deg);
  
  }
  
  .icon-17{
  
    position: absolute;
    width: 9px;
    height: 9px;
    right: 73.95px;
    bottom: 144.62px;
    background: url(../assets/Star\ 17.svg);
    opacity: 0.5;
    transform: rotate(-169.83deg);
  
  }
  
  .icon-18{
  
    position: absolute;
    width: 9px;
    height: 9px;
    right: 273.95px;
    top: 144.62px;
    background: url(../assets/Star\ 18.svg);
    opacity: 0.5;
    transform: rotate(-169.83deg);
  
  }
  
  .icon-19{
  
    position: absolute;
    width: 13px;
    height: 14px;
    right: 266.6px;
    bottom: 217.78px;
    background: url(../assets/Star\ 19.svg);
    opacity: 0.5;
    transform: rotate(66.28deg);
  
  }
  
  .icon-20{
  
    position: absolute;
    width: 9px;
    height: 9px;
    right: 251.73px;
    top: 589.62px;
    background: url(../assets/Star\ 20.svg);
    opacity: 0.5;
    transform: rotate(-169.83deg);
  
  }
  